.content {
    padding: 20px;

    .pagination-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pokemon-limit {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;

        .select-pokemon-count {
            padding: 5px;
        }
    }
}