.content {
    padding: 20px;

    .pagination-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .head-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;

        .select-pokemon-count, input {
            padding: 5px;
        }
    }
}