.camera-app {
    display: flex;
    justify-content: center;

    .video-wrapper {
        display: flex;
        flex-direction: column;

        video {
            width: 640px;
            height: 480px;
        }

        .manage {
            text-align: center;
        }
    }
}