ul.pokemon-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li.pokemon-list-item {
        padding: 5px;
    }
}